<div class="Panel-share">
    <div class="Panel-share-share">
        <div class="Panel-share-label">
            Compartir etiqueta
        </div>
        <div class="Panel-share-buttons">
            <a class="Button-icon" target="_blank" href="mailto:?subject=CDMX&amp;body=Entra a CDMX {{ ''|page }}">
                <i class="fa fa-envelope"></i>
            </a>
            <a class="Button-icon" target="_blank" href="http://www.facebook.com/sharer.php?u={{ ''|page }}" >
                <i class="fa fa-facebook"></i>
            </a>
            <a class="Button-icon" target="_blank" href="http://twitter.com/share?url={{ ''|page }}">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="Button-icon hidden-lg hidden-md" target="_blank" href="whatsapp://send?text={{ ''|page }}">
                <i class="fa fa-whatsapp"></i>
            </a>
        </div>
    </div>
</div>